<div class="container relatoriosForm">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Relatórios de lançamentos por pessoa</h1>
    </div>

    <form #formRelatorios="ngForm" (ngSubmit)="gerar()">

      <div class="p-col-12">
        <label>Vencimento </label>
          <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true"
              showButtonBar="true" [locale]="br" name="periodoInicio"
              required [(ngModel)]="periodoInicio"></p-calendar>

        <label>até </label>
          <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true"
              showButtonBar="true" [locale]="br" name="periodoFim"
              required [(ngModel)]="periodoFim"></p-calendar>
      </div>

      <div class="p-col-12">
        <p-progressSpinner [style]="{ width: '25px', heigth: '25px' }"
            [hidden]="!uploadEmAndamento"></p-progressSpinner>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Gerar" [disabled]="formRelatorios.invalid"></button>
      </div>

    </form>

  </div>
</div>
