<p-table [value]="lancamentos" styleClass="p-datatable-gridlines p-datatable-striped"
             [responsive]="true"
             [paginator]="true" [rows]="filtro.intensPorPagina"
             [lazy]="true" [totalRecords]="totalRegistros"
             (onLazyLoad)="aoMudarPagina($event)"
             #tabela>

        <ng-template pTemplate="header">
            <tr>
                <th class="col-header">Pessoa</th>
                <th class="col-header">Descrição</th>
                <th class="col-data-header">Vencimento</th>
                <th class="col-data-header">Pagamento</th>
                <th class="col-valor-header">Valor</th>
                <th class="col-acoes"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
            <tr>
                <td><span class="p-column-title">Pessoa</span>
                  {{lancamento.pessoa}}</td>
                <td><span class="p-column-title">Descrição</span>
                  {{lancamento.descricao}}</td>
                <td class="col-data-content"><span class="p-column-title">Vencimento</span>
                  {{lancamento.dataVencimento | date:'dd/MM/y'}}</td>
                <td class="col-data-content"><span class="p-column-title">Pagamento</span>
                  {{lancamento.dataPagamento | date:'dd/MM/y'}}</td>
                <td class="col-valor">
                  <span class="p-column-title">Valor</span>
                  <span [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
                    {{ lancamento.valor | currency:'BRL':true }}</span>
                </td>

               <td class="col-acoes">
                  <a [routerLink]="['/lancamentos', lancamento.codigo]">
                    <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                    [disabled]="!authLancamento.temPermissao('ROLE_CADASTRAR_LANCAMENTO')"></button>
                  </a>
                  <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                    (click)="confirmarExclusao(lancamento)"
                    [disabled]="!authLancamento.temPermissao('ROLE_REMOVER_LANCAMENTO')"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado.
            </td>
          </tr>
        </ng-template>

    </p-table>
