<div class="container">

  <div class="p-grid">

    <form autocomplete="off" class="p-col-12" (ngSubmit)="pesquisar()">

    <div class="p-col-12">
      <h1>Pessoas</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Nome</label>
      <input pInputText type="text" autofocus="true" name="nome" [(ngModel)]="filtro.nome"/>
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </form>
  </div>

  <div class="p-grid" class="tabela-pessoa">
    <div class="p-col-12 tabela-pessoas">
      <app-pessoas-grid [pessoas]="pessoas" [totalRegistros]="totalRegistros"></app-pessoas-grid>
    </div>

    <div class="p-col-12 button-link-nova-acao">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
    </div>
  </div>

</div>
